<div class="exam-div">
  <mat-card class="card card-midia">
    <div class="formSelection">
      <div class="formSelectionOne">
        <h3>Seleção de Mídia</h3>
        <div> 
            <mat-select class="selectRight">
              <mat-option *ngFor="let midiaOption of midiaOptionList" [value]="midiaOption.value">
                {{midiaOption.text}}
              </mat-option> 
            </mat-select>
          </div>
      </div>
      <div class="formSelectionTwo">
        <h3>Seleção do Layout</h3>
        <div>
            <mat-select class="selectRight">
              <mat-option *ngFor="let layoutOption of layoutOptionList" [value]="layoutOption.value">
                {{layoutOption.text}}
              </mat-option> 
            </mat-select>
          </div>
      </div>
      <div class="formSelectionThree">
          <h3>Seleção das séries</h3>
          <div class="gridSelecao">
              <img (click)="selectSelectionImage($event.target);" *ngFor="let number of [0,1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4]" src="assets\img\corpo.png" >
          </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="card card-options">
    <div class="formOprtionsEditor">
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 39.png" >
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 31.png" >
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 29.png" > 
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 30.png" >
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 38.png" style="width: 50% !important">
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\seta-lado.png" >
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 32.png" >
      </div>
      <div class="iconBoxEditor">
        <img src="assets\icons\Ativo 47.png" >
      </div>
    </div>
    <div (click)="chama()" class="formFilter">
        <img src="assets\icons\Ativo 49.png" >
    </div>
  </mat-card>

  <mat-card class="card card-images">
    <div class="div-grid"> 
      <mat-grid-list [cols]="colsGrid" fxFlex="fxFill" fxLayoutAlign="center center" [gutterSize]="'2px'">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows">
          <div class="center-cropped" (click)="selectGridImage($event.target)">
            <img src="">
          </div>
        </mat-grid-tile>
      </mat-grid-list> 
    </div>
    <div class="div-buttons">
      <div class="div-right">
        <button mat-raised-button [color]="color" class="greyButton" (click)="openDialog()" >PREVIEW</button>
        <button mat-raised-button [color]="color" class="orangeButton">SALVAR</button>
        <button mat-raised-button [color]="color" (click)="openDialog()">IMPRIMIR</button>
      </div>
    </div>

  </mat-card>

  <mat-card class="card card-tools">
    <div class="containerPaiTools">
      <div class="formToolsGrid">
        <h3>Ferramentas</h3>
        <div class="inputNumber">
          <label>Colunas</label>
          <input type="number" placeholder="" [(ngModel)]="colsGrid" (change)="changeColunas();">
        </div>
        <br>
        <div class="inputNumber">
          <label>Linhas</label>
          <input type="number"  [(ngModel)]="linhasGrid" (change)="changeLinhas();">
        </div>
        <br>
      </div>
      <div class="formToolsEscopo">
        <h3>Escopo por Frame</h3>
        <mat-radio-group [(ngModel)]="selectedScope"> 
        <mat-radio-button class="rdButtonScopes" *ngFor="let scope of scopes" [value]="scope">
          {{scope.text}}
        </mat-radio-button> 
      </mat-radio-group>
      <br>
      <section class="scopeSection">
        Sincronizar entre séries 
          <mat-slide-toggle
              color="primary"
              [checked]="checked"
              [disabled]="disabled">
          </mat-slide-toggle>
        </section>
        <br>
      </div>
      <div class="formToolsIcons">
            <div class="incosOne">
              <div class="iconBox">
                <img src="assets\icons\Ativo 47.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 46.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 50.png" style="transform: rotate(90deg);">
              </div>
            </div>
            <div class="iconsTwo">
              <div class="iconBox">
                <img src="assets\icons\Ativo 41.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 28.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 48.png" >
              </div>
    
            </div>
            <div class="iconsThree">
              <div class="iconBox">
                <img style="width: 70% !important;" src="assets\icons\Ativo 40.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 29.png" >
              </div>
              <div class="iconBox">
                <img src="assets\icons\Ativo 30.png" >
              </div>
            </div>
      </div>
      <br>
      <div class="formUnderIcons">
          <div class="underRadios">
            <mat-radio-group [(ngModel)]="selectedEditor"> 
                <mat-radio-button class="rdButtonScopes" *ngFor="let editor of editors" [value]="editor">
                  {{editor.text}}
                </mat-radio-button> 
              </mat-radio-group>
          </div>
              <section class="scopeSection">
                Só primeira imagem 
                  <mat-slide-toggle
                      color="primary"
                      [checked]="checkedUnder"
                      [disabled]="disabledUnder">  
                  </mat-slide-toggle>
                </section>
      </div>
    </div>


    

    
  </mat-card>
  
</div>


<!-- DIV MODAL AJUSTE FINO -->
<div (click)="fecha()" class="modalAjuste">
  
  
</div>

<div class="modalConteudo">
  <i (click)="fecha()" class="fas fa-times"></i>
  <div class="content1">
    <h3 class="MainTitle">Ajuste fino</h3>
    <div class="formToolsGrid">
      <h3>Ferramentas</h3>
      <mat-form-field>
        <input matInput type="number" placeholder="Colunas" [(ngModel)]="colsGrid" (change)="changeColunas();">
      </mat-form-field>
      <mat-form-field> 
        <input matInput type="number" placeholder="Linhas" [(ngModel)]="linhasGrid" (change)="changeLinhas();">
      </mat-form-field>
      <div class="card-modalidades firstContent">
      <mat-card class="card-modalidade" (click)="mudaClasse($event);" *ngFor="let modalidade of mockedModalidades">
          {{modalidade.MODALITY}}
      </mat-card>
      <button mat-raised-button [color]="color" class="orangeButton">Adicionar</button>
    </div>
    </div>
  </div>
  <div class="content2">
    <img src="assets\img\corpo.png" alt="">
    <button mat-raised-button [color]="color" class="greyButton">DELETAR</button>
  </div>
  <div class="content3">
    <div class="formToolsGrid">
      <h3>Ferramentas</h3>
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 47.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 46.png" >
        </div>
    
      </div>
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 41.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 28.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 48.png" >
        </div>

      </div>

      <h3>Ferramentas</h3>
      
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 41.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 28.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 48.png" >
        </div>

      </div>
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 47.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 46.png" >
        </div>
    
      </div>
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 47.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 46.png" >
        </div>
    
      </div>
      <div class="lineIcons">
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 41.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 28.png" >
        </div>
        <div class="iconBoxBigger">
          <img src="assets\icons\Ativo 48.png" >
        </div>

      </div>

      <button mat-raised-button [color]="color" class="cleanButton">INVERTER SELEÇÃO</button>
      <br>
      <button mat-raised-button [color]="color" class="cleanButton">APAGAR SELEÇÃO</button>
      <br><br><br>
      <button mat-raised-button [color]="color" style=" width: 90%; margin: auto;">DELETAR</button>
     
    </div>
  </div>
</div>



<!-- MODAL PREVIEW -->
<!-- <div (click)="fechaPreview()" class="modalAjuste">
  
  
</div>

<div class="modalConteudoPreview">
  <i (click)="fecha()" class="fas fa-times"></i>
  <div class="content1">
    <h3 class="MainTitle">Preview</h3>
    
     
  </div>
</div> -->
