<div class="exam-div">
  <mat-card class="card card-midia">
    <div class="formSelection">
      <div class="formSelectionOne">
        <h3>Seleção de Mídia</h3>
        <mat-form-field>
            <mat-label>Seleção</mat-label>
            <mat-select>
              <mat-option *ngFor="let midiaOption of midiaOptionList" [value]="midiaOption.value">
                {{midiaOption.text}}
              </mat-option> 
            </mat-select>
          </mat-form-field>
      </div>
      <div class="formSelectionTwo">
        <h3>Seleção do Layout</h3>
        <mat-form-field>
            <mat-label>Layout</mat-label>
            <mat-select>
              <mat-option *ngFor="let layoutOption of layoutOptionList" [value]="layoutOption.value">
                {{layoutOption.text}}
              </mat-option> 
            </mat-select>
          </mat-form-field>
      </div>
      <div class="formSelectionThree">
          <h3>Seleção das séries</h3>
          <div class="gridSelecao">
              <img (click)="selectSelectionImage($event.target);" *ngFor="let number of [0,1,2,3,4,4,4,4,4,4,4,4,4,4,4,4,4]" src="assets\img\corpo.png" >
          </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="card card-options">
    <div class="formOprtionsEditor">
        <img src="assets\icons\Ativo 39.png" >
        <img src="assets\icons\Ativo 31.png" >
        <img src="assets\icons\Ativo 29.png" > 
        <img src="assets\icons\Ativo 30.png" >
        <img src="assets\icons\Ativo 38.png" >
        <img src="assets\icons\Ativo 34.png" style="transform: rotate(-90deg);">
        <img src="assets\icons\Ativo 32.png" >
        <img src="assets\icons\Ativo 47.png" >
    </div>
    <div (click)="chama()" class="formFilter">
        <img src="assets\icons\Ativo 49.png" >
    </div>
  </mat-card>

  <mat-card class="card card-images">
    <div class="div-grid"> 
      <mat-grid-list [cols]="colsGrid" fxFlex="fxFill" fxLayoutAlign="center center" [gutterSize]="'2px'">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows">
          <div class="center-cropped" (click)="selectGridImage($event.target)">
            <img src="">
          </div>
        </mat-grid-tile>
      </mat-grid-list> 
    </div>
    <div class="div-buttons">
      <div class="div-right">
        <button mat-raised-button [color]="color">PREVIEW</button>
        <button mat-raised-button [color]="color">SALVAR</button>
        <button mat-raised-button [color]="color" (click)="openDialog()">IMPRIMIR</button>
      </div>
    </div>

  </mat-card>

  <mat-card class="card card-tools">
    <div class="containerPaiTools">
      <div class="formToolsGrid">
        <h3>Ferramentas</h3>
        <mat-form-field>
          <input matInput type="number" placeholder="Colunas" [(ngModel)]="colsGrid" (change)="changeColunas();">
        </mat-form-field>
        <mat-form-field> 
            <input matInput type="number" placeholder="Linhas" [(ngModel)]="linhasGrid" (change)="changeLinhas();">
          </mat-form-field>
      </div>
      <div class="formToolsEscopo">
        <h3>Escopo por Frame</h3>
        <mat-radio-group [(ngModel)]="selectedScope"> 
        <mat-radio-button class="rdButtonScopes" *ngFor="let scope of scopes" [value]="scope">
          {{scope.text}}
        </mat-radio-button> 
      </mat-radio-group>
      <section class="scopeSection">
        Sincronizar entre séries 
          <mat-slide-toggle
              color="primary"
              [checked]="checked"
              [disabled]="disabled">
          </mat-slide-toggle>
        </section>
      </div>
      <div class="formToolsIcons">
            <div class="incosOne">
              <img src="assets\icons\Ativo 47.png" >
              <img src="assets\icons\Ativo 46.png" >
              <img src="assets\icons\Ativo 50.png" style="transform: rotate(90deg);">
            </div>
            <div class="iconsTwo">
                <img src="assets\icons\Ativo 41.png" >
                <img src="assets\icons\Ativo 28.png" >
                <img src="assets\icons\Ativo 48.png" >
            </div>
            <div class="iconsThree">
                <img src="assets\icons\Ativo 40.png" >
                <img src="assets\icons\Ativo 29.png" >
                <img src="assets\icons\Ativo 30.png" >
            </div>
      </div>
      <div class="formUnderIcons">
          <div class="underRadios">
            <mat-radio-group [(ngModel)]="selectedEditor"> 
                <mat-radio-button class="rdButtonScopes" *ngFor="let editor of editors" [value]="editor">
                  {{editor.text}}
                </mat-radio-button> 
              </mat-radio-group>
          </div>
              <section class="scopeSection">
                Só primeira imagem 
                  <mat-slide-toggle
                      color="primary"
                      [checked]="checkedUnder"
                      [disabled]="disabledUnder">  
                  </mat-slide-toggle>
                </section>
      </div>
    </div>


    

    
  </mat-card>
  
</div>
<!-- DIV MODAL AJUSTE FINO -->
<div class="modalAjuste">
  <div class="modalConteudo">
    <i (click)="fecha()" class="fas fa-times"></i>
    <div class="content1">
      <h3 class="MainTitle">Ajuste fino</h3>
      <div class="formToolsGrid">
        <h3>Ferramentas</h3>
        <mat-form-field>
          <input matInput type="number" placeholder="Colunas" [(ngModel)]="colsGrid" (change)="changeColunas();">
        </mat-form-field>
        <mat-form-field> 
            <input matInput type="number" placeholder="Linhas" [(ngModel)]="linhasGrid" (change)="changeLinhas();">
          </mat-form-field>
      </div>
    </div>
    <div class="content2">
      
    </div>
    <div class="content3">
    
    </div>
  </div>
  
</div>