.card {
  display:block;
  float:left;
}

.card-midia{
  flex: 4;
}

.card-options{
  flex: 1;
  margin-left: 10px;
}

.card-images{
  flex: 20;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-tools{
  flex: 4;
  margin-left: 10px;
}

.exam-div {
  position: absolute;
  display: flex;
  padding: 1% 2% 1% 2%;
  height: 95%;
  width: 95%;
}

.div-buttons {
  margin-right: 8px;
  margin-top: 10px;
  flex: 1;
}

.div-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 16px;
}

.div-right button {
  margin-right: 10px;
  width: 160px;
}

.div-grid {
  flex: 9;
  overflow: scroll;
}

.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 8px 8px 8px 8px;
  position: relative;
  background-image: url('http://placehold.it/200x200');
  transition: transform 0.3s;
}

.center-cropped-wsrc{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 8px 8px 8px 8px;
  position: relative;
  background-image: unset;
  transition: transform 0.3s;
}

.center-cropped:hover,
.center-cropped-wsrc:hover {
  transform: scale(1.1);
}

/* Set the image to fill its parent and make transparent */
.center-cropped img,
.center-cropped-wsrc img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 1;
}

.containerPaiTools{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.formToolsGrid h3,
.formToolsEscopo h3,
.formSelection h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  font-size: 14px;
  line-height: 16px;
  color: #004186;
}

.formToolsEscopo input,
.formToolsGrid input,
.formSelection mat-select{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

.formToolsEscopo .rdButtonScopes{
  margin: 0px 0px 5px 0px;
}

.formToolsIcons{
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-evenly;
}

.formToolsIcons .incosOne,
.formToolsIcons .iconsTwo,
.formToolsIcons .iconsThree{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formToolsIcons img,
.card-options img{
  width: 25px;
  height: 30px;
}

.formToolsIcons img:hover,
.card-options img:hover{
  cursor: pointer;
}

.scopeSection{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

.formUnderIcons{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.underRadios{
  display: flex;
  flex-direction: column;
}

.card-options{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

mat-card .formOprtionsEditor{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.formSelection{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formSelectionThree{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gridSelecao{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.gridSelecao img{
  width: auto;
  height: 50px;
  padding: 5px;
  transition: transform, 0.2s;
}

.gridSelecao img:hover{
  transform: scale(1.03);
}

.modalAjuste {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.69);
  z-index: 9999;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
}
.modalConteudo {
  background: #fff;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  padding: 30px 50px;
}

h3.MainTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  font-size: 25px;
  color: #004186;
}

.content1,
.content3{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.content3{
  padding-left: 25px;
}
.content2{
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #ccc;
}
.iconBox{
  width: 25px;
  height: 25px;
}
.iconBox img{
  width: 100% !important;
  height: auto !important;
  margin: auto;
}
.content2 img{
  height: 85%;
  width: auto;
  margin: auto;
}


.card-modalidades .card-modalidade{
  margin: 6px 0px 6px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 #aeaeae;
  border-left: 5px solid #828282;
  font-size: 13px;
  color: #004186;
  font-weight: 700;
  padding-left: 30px;
}
.card-modalidades{
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-x: unset;
  overflow-y: auto;
  margin-right: 15px;
  margin-left: -15px;
  overflow: hidden;
}

.card-modalidades .card-modalidade:hover {
  transform: scale(1.02);
}

.thirdLine{
  display: flex;
}

.greyButton{
  width: 200px;
  background: #ccc;
  font-size: 12px;
  margin: auto;
}
.orangeButton{
  width: 170px;
  background: orange;
  font-size: 12px;
  margin: auto;
}
.lineIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.iconBoxBigger{
  width: 40px;
  height: 40px;
}
.iconBoxBigger img{
  width: 100% !important;
  height: auto !important;
  margin: auto;
}
.cleanButton{
  border: 1px solid #004186;
  color: #004186;
  background: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: none;
}
