.card {
  display:block;
  float:left;
}

.card-midia{
  flex: 4;
}

.card-options{
  flex: 0.5;
  margin-left: 10px;
  padding: 10px;
}

.card-images{
  flex: 20;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-tools{
  flex: 4;
  margin-left: 10px;
}

.exam-div {
  position: absolute;
  display: flex;
  padding: 0 2% 1% 2%;
  height: 85%;
  width: 95%;
}

.div-buttons {
  margin-right: 8px;
  margin-top: 10px;
  flex: 1;
}

.div-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 16px;
}

.div-right button {
  margin-right: 10px;
  width: 160px;
}

.div-grid {
  flex: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: scroll; */
}

.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.center-cropped-wsrc{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  background-image: unset;
  transition: transform 0.3s;
}


/* Set the image to fill its parent and make transparent */
.center-cropped-img {
  width: auto;
  height: 100%;
  margin: auto;
  position: absolute;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 1;
}

.containerPaiTools{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.formToolsGrid h3,
.formToolsEscopo h3,
.formSelection h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  font-size: 14px;
  line-height: 16px;
  color: #004186;
  font-weight: 400;
}

.formToolsEscopo input,
.formToolsGrid input,
.formSelection mat-select{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}


.formToolsIcons{
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-evenly;
}

.formToolsIcons .incosOne,
.formToolsIcons .iconsTwo,
.formToolsIcons .iconsThree{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formToolsIcons img,
.card-options img{
  width: 25px;
  height: 30px;
}

.formToolsIcons img:hover,
.card-options img:hover{
  cursor: pointer;
}

.scopeSection{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

.formUnderIcons{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.underRadios{
  display: flex;
  flex-direction: column;
}

.card-options{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

mat-card .formOprtionsEditor{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.formSelection{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formSelectionThree{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gridSelecao{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.gridSelecao img{
  width: auto;
  height: 50px;
  padding: 5px;
  transition: transform, 0.2s;
}

.gridSelecao img:hover{
  transform: scale(1.03);
}

.modalAjuste {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.69);
  z-index: 9999;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
}
.modalPreview {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.69);
  z-index: 9999;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
}
.modalConteudo {
  background: #fff;
  border-radius: 3px;
  width: 90%;
  height: 85%;
  margin: auto;
  display: flex;
  padding: 30px 50px;
  display: none;
  position: absolute;
  z-index: 999999;
  margin-left: 1%;
  top: 10px;
}
.modalConteudoPreview{
  background: #fff;
  border-radius: 3px;
  width: 30%;
  height: 70%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  padding: 30px 50px;
  display: none;
  position: absolute;
  z-index: 999999;
  margin-left: 28%;
  top: 10px;
  margin-top: 3%;
}

h3.MainTitle{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  font-size: 25px;
  color: #004186;
}

.content1,
.content3{
  display: flex;
  flex-direction: column;
  width: 15%;
}
.content1{
  margin-right: 15px;
}
.content3{
  padding-left: 25px;
}
.content2{
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #ccc;
}
.iconBox{
  width: 25px;
  height: 25px;
}
.iconBoxEditor{
  width: 100%;
  height: auto;
  text-align: center;
}
.iconBoxEditor img{
  width: 100% !important;
  height: auto !important;
  margin: auto;
  
}
.iconBox img{
  width: 100% !important;
  height: auto !important;
  margin: auto;
}
.content2 img{
  height: 80%;
  width: auto;
  margin: auto;
}


.card-modalidades .card-modalidade{
  margin: 6px 0px 6px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 #aeaeae;
  border-left: 5px solid #828282;
  font-size: 12px;
  color: #004186;
  font-weight: 700;
  padding-left: 30px;
}
.card-modalidades{
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow-x: unset;
  overflow-y: auto;
  margin-right: 15px;
  /* margin-left: -15px; */
  overflow: hidden;
}

.card-modalidades .card-modalidade:hover {
  transform: scale(1.02);
}

.thirdLine{
  display: flex;
}

.greyButton{
  width: 200px;
  background: #ccc;
  font-size: 12px;
  margin: auto;
}
.orangeButton{
  width: 170px;
  background: orange;
  font-size: 12px;
  margin: auto;
}
.lineIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.iconBoxBigger{
  width: 30px;
  height: 30px;
}
.iconBoxBigger img{
  width: 100% !important;
  height: auto !important;
  margin: auto;
}
.cleanButton{
  border: 1px solid #004186;
  color: #004186;
  background: transparent;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: none;
}
.card-tools .containerPaiTools{
  justify-content: space-between;
}
.inputNumber label{
  font-size: 12px;
  color: #999;
}
.inputNumber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: flex-end;
}
.inputNumber input{ 
  width: 25px;
  padding: 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #999;
  margin: 0 5px;
}
.scopeSection{
  font-size: 11px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectRight{
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  margin-left: -3px;
}
.rightTitle{
  margin: 5px 0;
}
.fa-times{
  position: absolute;
  right: 30px;
  top: 20px;
  color: #004186;
  cursor: pointer;
}
.contentTitle{
  width: 100%;
  text-align: center;
}
.contentTitle .MainTitle{
  font-size: 18px;
  font-weight: 500;
}
.imageSlider{
  display: flex;
  height: 90%;
}
.imageSlider mat-tab-group{
  width: auto;
  height: 90%;
  overflow: hidden;
}
.imageSlider img{
  height: 100%;
  margin: auto;
  width: auto;
}
.rodapePreview {
  display: flex;
  background: #ddd;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.rodapePreview .fa-chevron-left, .rodapePreview .fa-chevron-right{
  margin: auto;
}




/* TESTE TAMANHO FOLHA */
div.tamanhoa4 {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  align-items: center;
}
.tamanhoA4 {  
  width: 353px;
  height: 500px;
  background: #333;
  margin: auto;
  overflow: hidden;
}
.tamanhoA4Hori {
  height: 353px;
  width: 500px;
  background: #333;
  margin: auto;
  overflow: hidden;
}
.tamanhoA3 {
  width: 360px;
  height: 510px;
  background: #333;
  margin: auto;
  overflow: hidden;
}
.tamanhoA3Hori {
  height: 360px;
  width: 510px;
  background: #333;
  margin: auto;
  overflow: hidden;
}
div[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
div[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
div[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, div {
    margin: 0;
    box-shadow: 0;
  }
}

#divGrid mat-grid-tile{
  border: 1px solid white;
}

.maiorWidth{
  width: auto;
  height: 100%;
  margin: auto;
  position: absolute;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.maiorHeight{
  width: 100%;
  height: auto;
  margin: auto; 
  position: absolute;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}