.card {
  display:block;
  float:left;
}

.card-midia{
  flex: 4;
}

.card-options{
  flex: 1;
  margin-left: 10px;
}

.card-images{
  flex: 20;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-tools{
  flex: 4;
  margin-left: 10px;
}

.exam-div {
  position: absolute;
  display: flex;
  padding: 1% 2% 1% 2%;
  height: 95%;
  width: 95%;
}

.div-buttons {
  margin-right: 8px;
  margin-top: 10px;
  flex: 1;
}

.div-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 16px;
}

.div-right button {
  margin-right: 10px;
  width: 160px;
}

.div-grid {
  flex: 9;
  overflow: scroll;
}

.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 8px 8px 8px 8px;
  position: relative;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 1;
}

.containerPaiTools{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.formToolsGrid h3,
.formToolsEscopo h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold; 
  font-size: 14px;
  line-height: 16px;
  color: #004186;
}

.formToolsEscopo input,
.formToolsGrid input{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

.formToolsEscopo .rdButtonScopes{
  margin: 0px 0px 5px 0px;
}

.formToolsIcons{
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-evenly;
}

.formToolsIcons .incosOne,
.formToolsIcons .iconsTwo,
.formToolsIcons .iconsThree{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formToolsIcons img{
  width: 25px;
  height: 30px;
}

.formToolsIcons img:hover{
  cursor: pointer;
}

.scopeSection{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

.formUnderIcons{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.underRadios{
  display: flex;
  flex-direction: column;
}