
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filtro
        </mat-panel-title>
        <!--<mat-panel-description>-->
          <!--<div class="itemFiltro">-->
            <!--DATA -->
            <!--<i class="fas fa-times-circle"></i>-->
          <!--</div>-->

          <!--<div class="itemFiltro">-->
            <!--ACESSION_NUMBER -->
            <!--<i class="fas fa-times-circle"></i>-->
          <!--</div>-->
          <!---->
        <!--</mat-panel-description>-->
      </mat-expansion-panel-header>

      <!-- FILTRO TEXT QUE FUNCIONA -->
      <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->


      <div class="leftFilter">
        <mat-select class="filtroSelect" [(ngModel)]="acssionFiltro" placeholder="ACESSION_NUMBER" name="food">
          <mat-option  [value]="1">
            teste
          </mat-option>
          <mat-option  [value]="2">
            teste2
          </mat-option>
          <mat-option  [value]="3">
            teste3
          </mat-option>
        </mat-select>
  
        <mat-select class="filtroSelect" [(ngModel)]="pacienteFiltro" placeholder="PACIENTE" name="food">
          <mat-option  [value]="1">
            teste
          </mat-option>
          <mat-option  [value]="2">
            teste2
          </mat-option>
          <mat-option  [value]="3">
            teste3
          </mat-option>
        </mat-select>
  
        <mat-select class="filtroSelect" [(ngModel)]="descFiltro" placeholder="DESCRIÇÃO" name="food">
          <mat-option  [value]="1">
            teste
          </mat-option>
          <mat-option  [value]="2">
            teste2
          </mat-option>
          <mat-option  [value]="3">
            teste3
          </mat-option>
        </mat-select>
  
        <mat-select class="filtroSelect" [(ngModel)]="modalidadeFiltro" placeholder="MODALIDADE" name="food">
          <mat-option  [value]="1">
            teste
          </mat-option>
          <mat-option  [value]="2">
            teste2
          </mat-option>
          <mat-option  [value]="3">
            teste3
          </mat-option>
        </mat-select>
  
        <mat-select class="filtroSelect" [(ngModel)]="dataFiltro" placeholder="DATA DE CRIAÇÃO" name="food">
          <mat-option  [value]="1">
            teste
          </mat-option>
          <mat-option  [value]="2">
            teste2
          </mat-option>
          <mat-option  [value]="3">
            teste3
          </mat-option>
        </mat-select>
      </div>
      <div class="rightFilter">
        <div class="checkFilter">
          <mat-checkbox>Impresso</mat-checkbox>
          <mat-checkbox>Salvo</mat-checkbox>
        </div>
        <button class="btnFiltrar"><i class="fas fa-sliders-h"></i> FILTRAR</button>
      </div>
       
      

      
 


    </mat-expansion-panel>
  </mat-accordion>
  
  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row; let i = index;"> {{i + 1}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="acession">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACESSION_NUMBER </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.accession_number}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PACIENTE </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.pat_full_name}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIÇÃO </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="modalidade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MODALIDADE </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.mod_full_name}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DATA DE CRIAÇÃO </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.study_date | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="impresso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IMPRESSO </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.c_boolean_print > 0 ? "Sim" : "Não"}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="salvo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SALVO </th>
        <td (click)="redirPrint(row);" mat-cell *matCellDef="let row"> {{row.c_booblean_saved > 0 ? "Sim" : "Não"}} </td>
      </ng-container>
  





      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
  </div>