.forgot-password-card {
  position: fixed;
  margin-top: 90px;
  left: 50%;
  padding: 44px 60px 44px 60px;
  transform: translate(-50%);
}

.forgot-password-logo {
  max-width: 150px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.forgot-password-text {
  color: #BDBDBD;
  text-align: center;
  margin-top: 24px;
}

.forgot-password-div {
  min-width: 340px;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: #BDBDBD;
}

.forgot-password-input {
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  margin-top: 24px;
}

.forgot-password-div-button {
  margin-top: 28px;
}

.forgot-password-button {
  width: 100%;
}

.forgot-password-text {
  color: #BDBDBD;
  font-size: small;
}

.forgot-password-sidenav-container {
  background-color: blue;
}

