<mat-toolbar color="primary" class="toolbar">

</mat-toolbar>

<mat-card class="forgot-password-card">
  <img class="forgot-password-logo" src="assets/img/logo.png">
  <div class="forgot-password-div">
    <span class="forgot-password-text">Digite o seu e-mail no campo abaixo para o envio<br>da senha de acesso.</span>
    <input placeholder="E-MAIL DE ACESSO" class="forgot-password-input" [(ngModel)]="login">
    <div class="forgot-password-div-button">
      <button mat-raised-button [color]="color" (click)="onClick()" class="forgot-password-button forgot-password-rigthside">ENVIAR</button>
    </div>
  </div>
</mat-card>

