/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background-color: #F2F2F2;
}

* {
  font-family: Roboto, sans-serif;
}

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

app-exam .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #004186; 
}

app-exam .mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #004186;
}

app-exam .formToolsEscopo .mat-radio-label{
  font-weight: 300;
  font-size: 12px;  
  line-height: 14px;
  color: #4F4F4F;
}

app-settings .mat-checkbox-frame{
  border-width: 1px !important;
}

.greyButton{
  width: 200px;
  background: #ccc;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
}
.orangeButton{
  width: 170px;
  background: orange;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
}
button.cleanGreyButton {
  border: 1.5px solid #bdbdbd;
  background: transparent;
  color: #bdbdbd;
  border-radius: 2px;
  font-size: 12px;
  padding: 10px 40px;
  cursor: pointer;
}

.ligthBlueButton {
  background: #91d8f6;
  color: #fff;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1.5px solid #91d8f6;
  cursor: pointer;
}

.tradicionalButton {
  background: #004186;
  color: #fff;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1.5px solid #004186;
  cursor: pointer;
}

.mat-radio-outer-circle{
  border-width: 1px !important;
}
app-exam .mat-radio-label-content{
  font-size: 13px;
  color: #999;
}
app-exam mat-radio-button{
  padding: 5px 0;
}