.setting-card {
    width: 95%;
    margin-top: 90px;
    left: 50%;
    transform: translate(-50%);
}

.aetitles-card {
    width: 95%;
    height: 280px;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%);
}

.setting-div {
    display: flex;
    align-items: center;
}

.setting-card-h3 {
    display: inline;
    color: #004186;
    font-weight: normal;
}

.setting-save-button {
    margin-left:auto; 
    margin-right:0;
    background-color: #DF8D2C;
    color: white; 
    width: 170px;
    height: 30px;
    padding: 0;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

.setting-input {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    margin-top: 8px;
    width: 100%;
}

.infos-card-up{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs-up{
    flex: 6;
}

.rds-up{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rds-up mat-radio-group{ 
    display: flex;
    flex-direction: column-reverse;
    padding-right: 25%;
    height: 70%;
    justify-content: space-evenly;
}

.rds-up h3{
    display: flex;
    color: #004186;
    font-weight: normal;
    margin-bottom: 1%;
    margin-top: 1%;
}

.container-aetitles{
    display: flex;
    flex-direction: row; 
    height: 80%;
}

.ae-titles-inputs{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    width: 18%;
    padding-left: 4%;
}

.table-aetitles{
    width: 95%;
    overflow-y: auto;
    padding: 9px 0% 0px 10%;
}

.table-aetitles table{
    width: 100%;
}

.btns-aetitles{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1%;
}

.btns-aetitles button{
    margin: 1%;
}

.card-modalidades{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 25%;
    max-height: 600px;
    overflow-x: unset;
    overflow-y: auto;
    transform: translate(-50%);
    left: 15%;
}

.card-modalidades .card-modalidade{
    margin: 6px 0px 6px 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 #aeaeae;
    border-left: 6px solid #828282;
    font-size: 13px;
    color: #004186;
    font-weight: 700;
    padding-left: 30px;
}

.card-modalidades .card-modalidade:hover {
    transform: scale(1.02);
}

