<mat-card class="setting-card">
    <div class="setting-div">
        <h3 class="setting-card-h3">Configurações</h3>
        <button mat-raised-button (click)="onClick()" class="setting-save-button">SALVAR</button>
    </div>
    <input placeholder="SERVIDOR LOCAL URL" class="setting-input" [(ngModel)]="localServer">
    <input placeholder="POOL IMPRESSÃO" class="setting-input" [(ngModel)]="poolPrinter">
</mat-card>

<mat-card class="aetitles-card">
    <h3 class="setting-card-h3">AEtitles</h3>
</mat-card>